h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue
}

.errorMessage {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid gray;

    /* Imitate <pre> */
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
