h1 {
  color: green;
}

.hidden {
  visibility: hidden;
  display: none;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}

.ec-error-template {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.stackex-question {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.stackex-answer {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.stackex-question-title {
  font-weight: bold;
}

.ec-title {
  font-weight: bold;
}

.ec-lines {
  /* Imitate <pre> */
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.ec-links a {
  margin: 5px;
}
